@model ChienVHShopOnline.Models.Color

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Color</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ColorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
