@using ChienVHShopOnline.Models
@model List<Category>

<ul>
    @{
        foreach (var item in Model)
        {
            @*<li><a href="#">@item.Name</a></li>*@
            <li>
                @Html.ActionLink(@item.Name, "Index", "Products", new { page =1, category = @item.CategoryId }, null)
            </li>
        }
    }

</ul>