
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Layout/_MainLayout.cshtml";
}

<h4>Your order has been placed successfully. Please click @Html.ActionLink("Here","Index","Home") to go to home page!!!</h4>

